parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src
		- tests
	bootstrapFiles:
		- tests/_support/bootstrap.php
	excludes_analyse:
		- src/library/rector.php
	ignoreErrors:
	scanDirectories:
	dynamicConstantNames:
		- ENVIRONMENT
		- HOMEPATH
		- SOURCEPATH
		- TESTPATH
		- SUPPORTPATH
