parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src
		- tests
	bootstrapFiles:
		- tests/_support/bootstrap.php
	excludes_analyse:
		- src/Config/Routes.php
		- src/Views/*
		- src/rector.php
	ignoreErrors:
	universalObjectCratesClasses:
		- CodeIgniter\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/codeigniter4/system/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
		- SOURCEPATH
