<?php
// ~/.composer/vendor/bin/php-cs-fixer fix --config=.php_cs.dist

$finder = PhpCsFixer\Finder::create()
	->exclude('app/Views')
	->in(__DIR__ . '/app');

return PhpCsFixer\Config::create()
	->setRules([
		'@PhpCsFixer' => false,
		'@PSR1' => false,
		'@PSR2' => false,
		'no_alternative_syntax' => true,
		'braces' => ['position_after_control_structures' => 'next'],
	])
	->setIndent("\t")
	->setFinder($finder);
